@import "tailwindcss";

@theme {
	/* Color */
	--color-primary: var(--color-blue-600);
	--color-primary-hover: var(--color-blue-700);
	--color-primary-disabled: var(--color-blue-200);
	--color-primary-shadow: var(--color-blue-100);
	--color-primary-foreground: #ffffff;

	--color-secondary: #ffffff;
	--color-secondary-hover: var(--color-gray-50);
	--color-secondary-shadow: var(--color-gray-100);
	--color-secondary-disabled: var(--color-gray-200);
	--color-secondary-foreground: var(--color-gray-700);

	--color-accent: #f5a623;
	--color-accent-foreground: #ffffff;

	--color-background: var(--color-gray-200);
	--color-foreground: var(--color-gray-700);
	--color-success: #12b76a;
	--color-success-foreground: #ffffff;
	--color-warning: #f79009;
	--color-warning-foreground: #ffffff;

	--color-destructive: var(--color-red-600);
	--color-destructive-foreground: #ffffff;

	--color-card: #ffffff;
	--color-card-foreground: var(--color-gray-700);
	--color-border: var(--color-gray-300);
	--color-divider: #e9eaeb;

	--color-input: var(--color-white);
	--color-input-foreground: var(--color-gray-900);
	--color-input-placeholder: var(--color-gray-500);
	--color-input-disabled: var(--color-gray-50);

	/* Box shadow */
	--shadow-xs: 0 1px 2px hsl(218deg 29% 5% / 5%);
	--shadow-xs-focused-primary: 0 1px 2px hsl(218deg 29% 5% / 5%), 0 0 0 4px var(--color-primary-shadow);
	--shadow-xs-focused-secondary: 0 1px 2px hsl(218deg 29% 5% / 5%), 0 0 0 4px var(--color-secondary-shadow);
	--shadow-xs-focused-error: 0 1px 2px hsl(218deg 29% 5% / 5%), 0 0 0 4px var(--color-red-100);
	--shadow-xs-inset: inset 0 0 0 1px hsl(0deg 0% 100% / 15%), 0 1px 2px hsl(218deg 29% 5% / 5%);
}

@layer base {
	* {
		@apply border-divider;
	}
}

@layer components {
	body {
		@apply antialiased bg-background text-foreground;
	}
}
